---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--
    <link rel="stylesheet" type="text/css" href="lib/normalize.css/normalize.css" media="screen"/>
    -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <!--
    <script src="/lib/requirejs/require.js" data-main="/javascripts/config.js"></script>
    -->
    <!--[if lt IE 9]>
    <!--
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    -->
    <![endif]-->

    <title>JoeY's Journey</title>
  </head>

  <body class="dark-flat">
    {% include navbar.html homepage_active="active" %}
    <div id="container" class="container-fluid">
      <div class="row">
        <div class="col-sm-12" id="greeting">
          <div id="greeting-title">Hello World!</div>
          <div id="greeting-message" class="row">
            <div class="col-sm-6 text-left">越缺越装、明知故犯、无可救药</div>
            <div class="col-sm-6 text-right">淡&nbsp;&nbsp;定&nbsp;&nbsp;、&nbsp;&nbsp;
              坚&nbsp;&nbsp;持&nbsp;&nbsp;、&nbsp;&nbsp;原&nbsp;&nbsp;则</div>
          </div>
          <div id="news">
              <span>创业项目——<a href="http://www.linglongxiaodian.com">玲珑小店</a>，寻合伙人，欢迎独立珠宝设计师、APP大神联系我。</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" id="postEntries">
          <div id="timelineLine"></div>
		  {% for post in site.posts %}
	      <div id="post-{{ forloop.index }}" class="post-entry col-sm-6 pull-{% cycle 'left', 'right' %}">
            <div class="post-entry-wrapper">
              <div class="post-entry-marker"></div>
              <div class="classic-date">{{ post.date | date: '%b %d, %Y' }}</div>
			  {% if post.cover != null %}
              <a href="{{ post.url }}">
                <div class="post-top-image">
                  <div class="post-fader-grid">
                    <div class="entypo-icn-camera titled-link-icon"></div>
                    <img src="{{ post.cover }}"
                         class="custom-img grid_image boxed_shadow" alt=""/>
                  </div>
                </div>
              </a>
			  {% endif %}
              <div class="post-title">
                <h2>
                  <a href="{{ post.url }}" class="color-link">
                    <strong>{{ post.title }}</strong>
                  </a>
                </h2>
              </div>
              <div class="post-category">
                <a href="/?category={{ post.categories }}">
				  {% case post.category %}
				  {% when 'code' %} 
				  技术
				  {% when 'movie' %} 
				  电影
				  {% when 'zen' %} 
				  禅修
				  {% when 'reading' %} 
				  阅读
				  {% when 'running' %}
				  跑步
				  {% else %} 
				  其它
				  {% endcase %}
				</a>
              </div>
			  <div class="post-excerpt">
				{{ post.excerpt }}
			  </div>
			  <div class="post-btns">
				<a href="{{ post.url }}" class="read-more-btn">READ MORE</a>
			  </div>
            </div>
          </div>
		  {% endfor %}
        </div>
      </div>
      <div class="row">

      </div>
    </div>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/jquery-plugin/jquery.pin.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
  </body>
</html>
